{% extends 'base.html' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block sidebar %}
{% include 'admin/sidebar.html' %}
{% endblock %}


{% block content %}

<section class="section">
    
   

    
 <div class="container">
   <input type="checkbox" id="switch">
   <div class="outer">
     <div class="content">
      <div class="icon-preview">
        <a style="color: black;" href="{% url "admin.adoption_all_view" %}"><i class="fas fa-arrow-left"></i></a>
        </div><br>
      <div class="image-box">
       <img src="{{ adoption2.image.url }}" alt="">
      </div>
      <div class="details">
          <div class="buttons">
          
            </div>
            <div class="name"><h2 style="color: black; font-family: sans-serif Arial, Helvetica, sans-serif;"> {{adoption2.dog_name}}</h2></div>
            <div class="name"><h5 style="color: black;"> Breed: {{adoption2.breed}}<br> Color: {{adoption2.color}}<br>Age: {{adoption2.age}}<br>Licensed: {{adoption2.dog_license}}<br>Vaccinated: {{adoption2.vaccination}}  </h5></div>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger; color: black;">{{adoption2.description}}</p>
            <div style="font-size: larger; color: black;" class="name"><h9>Owner: {{adoption2.owner_name}} <br>Address: {{adoption2.address}}<br>Contact: {{adoption2.phone_no}} </h9> </div>
            <div class="buttons">
                

                <div style="display: flex; justify-content: space-around;">
            <a href="{% url "admin.adoption_all_delete" adoption2.id %}" style="color: crimson; margin: 8%;"  onclick="return confirm('Are you sure you want to delete this item?')"><i class="material-icons">delete</i></a>
                </dv>
                    
            </div>
        </div>
    </div>
  </div>
 </div>
</section>

{% endblock %}
  


{% block scripts %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}
.outer{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background: #f2f2f2;
}
#switch:checked ~ .outer{
background: #092c3e;
}
.content{
display: flex;
width: 700px;
padding: 15px;
background: #fff;
border-radius: 10px;
position: relative;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
#switch:checked ~ .outer .content{
background: #092c3e;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.outer .toggle{
position: absolute;
width: 40px;
height: 20px;
border-radius: 20px;
background: #092c3e;
right: 15px;
top: 13px;
display: flex;
align-items: center;
cursor: pointer;
}
#switch:checked ~ .outer .toggle{
background: #fff;
}
.outer .toggle .circle{
margin-left: 3px;
height: 16px;
width: 16px;
border-radius: 50%;
background: #fff;
transition: all 0.3s ease;
}
#switch:checked ~ .outer .circle{
margin-left: 22px;
background: #092c3e;
}
.image-box {
height: 232px;
width: 200px;
border-radius: 12px;
padding: 3px;
background: #092c3e;
}
.image-box img {
height: 100%;
width: 100%;
object-fit: cover;
border: 3px solid #fff;
border-radius: 12px;
}
#switch:checked ~ .outer .image-box{
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
#switch:checked ~ .outer .image-box img{
border-color: transparent;
}
.content .details{
width: 58%;
margin: 10px 0 20px 20px;
color: #092c3e;
}
#switch:checked ~ .outer .details{
transition: 0.1s;
color: #fff;
}
.content .details .name{
font-size: 23px;
font-weight: 600;
}
.content .details .job{
font-size: 18px;
font-weight: 500;
}
.content .details p{
font-size: 15px;
margin-top: 6px;
}
.content button{
display: block;
margin-top: 16px;
outline: none;
border: none;
font-size: 17px;
padding: 6px 14px;
border-radius: 6px;
color: #fff;
cursor: pointer;
background: #092c3e;
transition: all 0.3s ease;
}
.content button:hover{
transform: scale(0.97);
}
#switch:checked ~ .outer button{
background: #fff;
color: #092c3e;
}
.media-icons{
position: absolute;
bottom: 16px;
right: 15px;
margin-top: 12px;
justify-content: flex-end;
}
.media-icons i{
display: inline-flex;
margin: 0 4px;
font-size: 16px;
color: #092c3e;
opacity: 0.7;
cursor: pointer;
}
.media-icons i:hover{
opacity: 1;
}
#switch:checked ~ .outer i{
color: #fff;
opacity: 1;
}
#switch{
display: none;
}
</style>


{% endblock %}