{% extends 'base.html' %}

{% block title %}
Admin Dashboardp
{% endblock %}

{% block sidebar %}
{% include 'admin/sidebar.html' %}
{% endblock %}


{% block content %}

<section class="section">
    
    <h1>Update Case</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
              <div class="icon-preview">
                <a style="color: black;" href="{% url "admin.missing_details_your" edit_missing.id %}"><i class="fas fa-arrow-left"></i></a>
                </div><br>
              {% comment %} <h4>Add Missing case</h4> {% endcomment %}
            </div>
            <div class="card-body">
              <div class="form-group">
                <label class="section-title"> Dog name:</label>
                <input type="text" class="form-control" name="dog_name">
              </div>
              <div class="form-group">
                <label class="section-title"> Breed:</label>
                <input type="text" class="form-control" name="breed">
              </div>
              <div class="form-group">
                <label class="section-title"> Color:</label>
                <input type="text" class="form-control" name="color">
              </div>
              <div class="form-group">
                <label class="section-title"> Owner name:</label>
                <input type="text" class="form-control" name="owner_name">
              </div>
              <div class="form-group">
                <label class="section-title"> Place:</label>
                <input type="text" class="form-control" name="Place" value="{{edit_missing.place}}">
              </div>
              <div class="form-group">
                <label class="section-title">Phone No:</label>
                <input type="text" class="form-control" name="Phone_no" maxlength="10" value="{{edit_missing.phone_no}}">
              </div>
              <div class="form-group">
                <label class="section-title"> Description:</label>
                <input type="text" class="form-control" name="Description" value="{{edit_missing.description}}">
              </div>
              <div class="section-title">Image:</div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="Image" required>
                <label class="custom-file-label" for="customFile">Choose image</label><br><br>
            </div>
            <div class="card-footer">
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        {% comment %} <button type="submit" name="submit" class="btn btn-primary">Submit</button> {% endcomment %}
    </div>
</div>
</form>
</section>

{% endblock %}
{% block scripts %}

<script>
  {% if messages %}
    {% for message in messages %}
    

      iziToast.success({
      position:'topRight',
      timeout: 5000, 
      icon: 'fa fa-chrome', 
      title: 'Missing case', 
      message: 'Updated'
    });
      
    {% endfor %}
{% endif %}

  

</script>
{% endblock scripts %}
