{% extends 'base.html' %}

{% block title %}
User Dashboard
{% endblock %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}


{% block content %}
    
    <h1>Update Adoption</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
              <div class="icon-preview">
                <a style="color: black;" href="{% url "user.adoption_details" edit_ad.id %}"><i class="fas fa-arrow-left"></i></a>
                </div><br>
              {% comment %} <h4>Add Missing case</h4> {% endcomment %}
            </div>
            <div class="card-body">
              <div class="form-group">
                <label class="section-title"> Dog name:</label>
                <input type="text" class="form-control" name="dog_name" value="{{edit_ad.dog_name}}">
              </div>
              <div class="form-group">
                <label class="section-title"> Breed:</label>
                <input type="text" class="form-control" name="breed" value="{{edit_ad.breed}}">
              </div>
              <div class="form-group">
                <label class="section-title"> Color:</label>
                <input type="text" class="form-control" name="color" value="{{edit_ad.color}}">
              </div>

              <div class="form-group">
                <label class="section-title">License:</label>
                
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="License" id="exampleRadios1" {% if edit_ad.dog_license == "yes" %} checked='True' {% endif %} value="yes">
                  <label class="form-check-label" for="exampleRadios1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="License" id="exampleRadios2" {% if edit_ad.dog_license == "no" %} checked='True' {% endif %} value="no">
                  <label class="form-check-label" for="exampleRadios2">
                    No
                  </label>
                </div>
                
               </div>
              
               <div class="form-group">
                <label class="section-title">Vaccinated:</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="vaccinated" id="example1" {% if edit_ad.vaccination == "yes" %} checked='True' {% endif %} value="yes">
                  <label class="form-check-label" for="example1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="vaccinated" id="example2"  {% if edit_ad.vaccination == "no" %} checked='True' {% endif %} value="no">
                  <label class="form-check-label" for="example2">
                    No
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="section-title"> Age:</label>
                <input type="text" class="form-control" name="age" value="{{edit_ad.age}}">
              </div>
              
              <div class="form-group">
                <label class="section-title"> Owner name:</label>
                <input type="text" class="form-control" name="owner_name" value="{{edit_ad.owner_name}}">
              </div>
              <div class="form-group">
                <label class="section-title"> Address</label>
                {% comment %} <input type="text" class="form-control" name="Address" value="{{edit_ad.address}}"> {% endcomment %}
                <textarea name="Address" class="form-control" id="" cols="100" rows="100">{{edit_ad.address}}</textarea>
              </div>
              <div class="form-group">
                <label class="section-title">Phone No:</label>
                <input type="text" class="form-control" name="Phone_no" maxlength="10" value="{{edit_ad.phone_no}}">
              </div>
              <div class="form-group">
                <label class="section-title"> Description:</label>
                {% comment %} <input type="text" class="form-control" name="Description" value="{{edit_ad.description}}"> {% endcomment %}
                <textarea name="Description" class="form-control" id="" cols="100" rows="100">{{edit_ad.description}}</textarea>
              </div>
              <div class="section-title">Image:</div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="Image" required>
                <label class="custom-file-label" for="customFile">Choose image</label><br><br>
            </div>
            <div class="card-footer">
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        {% comment %} <button type="submit" name="submit" class="btn btn-primary">Submit</button> {% endcomment %}
    </div>
</div>
    {% comment %} Place: <input type="text" name="Place">
    Phone_no: <input type="text" name="Phone_no" maxlength="10">
    Description: <input type="text" name="Description">
    Image: <input type="file" name="Image" required> {% endcomment %}
    
    </form>
    {% comment %} Place: <input type="text" name="Place" value="{{edit_missing.place}}"> 
    Phone_no: <input type="text" name="Phone_no" maxlength="10" value="{{edit_missing.phone_no}}">
    Description: <input type="text" name="Description" value="{{edit_missing.description}}">
    Image: <input type="file" name="Image" required>
    {% comment %} Status: <select name="Status" id="">
        <option value="active">Active</option>
        <option value="deactive">Deactive</option>
    </select> {% endcomment %}
    </form>

{% endblock %}


{% block scripts %}

<script>
  {% if messages %}
    {% for message in messages %}
    

      iziToast.success({
      position:'topRight',
      timeout: 5000, 
      icon: 'fa fa-chrome', 
      title: 'Adoption', 
      message: 'Updated'
    });
      
    {% endfor %}
{% endif %}

  

</script>
{% endblock scripts %}