
{% extends 'base.html' %}

{% block title %}
User Dashboard
{% endblock %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}


{% block content %}

    <section class="section">
        <h1>Missing Cases</h1><br><br><br>



        <div class="section-body">
          <div class="row">
            {% for m in missing  %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
              <article class="article">
                <div class="article-header">
                  <div class="article-image" data-background="{{ m.image.url }}" style="border-radius: 10px; background-image: url(&quot;{{ m.image.url }}&quot;);">
                  </div>
                  <div class="article-title">
                    <h2><a href="#"></a></h2>
                  </div>
                </div>
                <div class="article-details">
                  <h5 style="color: black;">Name: {{m.dog_name}}</h5>
                  <h6 style="color: black;">Breed: {{m.breed}}</h6>
                  {% comment %} <h6 style="color: black;"> {{m.owner_name}} <br> PH: {{m.phone_no}}</h6><br> {% endcomment %}
                  
                  <a href="{% url "user.comment_view" m.id %}" style="color: black; text-decoration: none;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>Comments</a>
              <span style="margin: 0 10px;"></span>
              <a href="{% url "user.report_case" m.id %}" style="color: black; text-decoration: none;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg>Reports</a></p>
                  <div class="article-cta">
                    <a href="{% url "user.missing_details" m.id %}" class="btn btn-primary">View Details</a>
                  </div>
                </div>
              </article>
            </div>
            
            {% endfor %}
          </div>
          
        </div>
        
    
    
    </section>

{% endblock %}

