{% extends 'base.html' %}

{% block title %}
User Dashboard
{% endblock %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}


{% block content %}

<section class="section">
    <h1>Update Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
              <div class="icon-preview">
                <a style="color: black;" href="{% url "user.profile" %}"><i class="fas fa-arrow-left"></i></a>
                </div><br>
              {% comment %} <h4>Add Missing case</h4> {% endcomment %}
            </div>
            <div class="card-body">
                <div class="section-title">Add profile photo</div>
                {% comment %} <img src="{{ pro_edit.profile_pic.url }}" alt="" height="100px" width="100px"> {% endcomment %}


              <div class="custom-file">

                

                  <input type="file" class="custom-file-input" id="customFile" name="Photo" required>
                
                  
                <label class="custom-file-label" for="customFile">
                  {% if pro_edit.profile_pic  %}
                  {{pro_edit.profile_pic.name}}
                  {% else %}
                  
                  Choose image
                  
                  {% endif %}
                </label><br><br>
        



            </div>
              <div class="form-group">
                <label class="section-title"> First Name:</label>
                <input type="text" class="form-control" name="First_name" value="{{pro_edit.first_name}}">
              </div>
              <div class="form-group">
                <label class="section-title">Last Name:</label>
                <input type="text" class="form-control" name="Last_name" value="{{pro_edit.last_name}}">
              </div>
              <div class="form-group">
                <label class="section-title">Place:</label>
                <input type="text" class="form-control" name="Place" value="{{pro_edit.place}}">
              </div>
              
            <div class="card-footer">
                <button type="submit" name="submit" class="btn btn-primary">Update</button>
            </div>
        </div>

        {% comment %} <button type="submit" name="submit" class="btn btn-primary">Submit</button> {% endcomment %}
    </div>
</div>
</section>

{% endblock %}



{% block scripts %}

<script>
  {% if messages %}
    {% for message in messages %}
    

      iziToast.success({
      position:'topRight',
      timeout: 5000, 
      icon: 'fa fa-chrome', 
      title: 'Profile', 
      message: 'Updated'
    });
      
    {% endfor %}
{% endif %}

  

</script>
{% endblock scripts %}





