{% extends 'base.html' %}

{% block title %}
User Dashboard
{% endblock %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}


{% block content %}

<section class="section">


    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" >
              <h4>Request received</h4>
              

              <div class="card-header-form">
                <div class="form-group">
                  <form action="{% url "user.is_willing" %}" method="post" id="form">
                  {% csrf_token %}
                    <label class="custom-switch mt-2">
                    <span class="custom-switch-description">If you are ready to adopt, press the button on &nbsp;&nbsp;</span>
                    <input type="checkbox" name="is_willing" {% if request.user.willing_to_adopt == 'yes' %}value="yes"{% endif %} id="is_willing" class="custom-switch-input" {% if request.user.willing_to_adopt == 'yes' %}checked{% endif %}>
                    <span class="custom-switch-indicator"></span>
                  </label>
                  </form>
                </div>
                </form>
              </div>
              <div class="card-header-action">
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped" id="sortable-table">
                  <thead>
                    <tr>
                      {% comment %} <th class="text-center">
                        <i class="fas fa-th"></i>
                      </th> {% endcomment %}
                     
                      <th>Profile</th>
                      <th>Breed</th>
                      <th>Dog name</th>
                      <th>        </th>
                      <th>        </th>
                      <th>        </th>
                      
                      
                    </tr>
                  </thead>
                  <tbody class="ui-sortable">
                    {% for r in ruq %}
                    <tr>

                    <td>
                        {% if r.adoption.image  %}
                        <img alt="image" src="{{r.adoption.image.url}}" class="" style="width: 50px; height: 50px; border-radius: 50%;" data-toggle="tooltip" title="" data-original-title="Wildan Ahdian">
                        {% endif %}  
                    </td>
                      <td>
                        <div style="font-size: x-large;">{{r.adoption.breed}}</div>
                      </td>
                      <td>
                        <div style="font-size: x-large;">{{r.adoption.dog_name}}</div>
                      </td>
                      
                      <td><a href="{% url "user.adoption_snd_details" r.adoption.id %}" class="btn btn-primary">Details</a></td>
                       {% if r.approval_request == 'active'  %}
                      <td><a href="{% url "user.request_accept" r.id %}" class="btn btn-success">Accept</a></td>
                      <td><a href="{% url "user.request_reject" r.id %}" class="btn btn-danger">Reject</a></td>
                      {% elif r.approval_request == 'accept'  %}
                      <td><a href="" class="btn btn-success disabled">Accepted</a></td>
                      <td><a href="{% url "user.recived_cancel" r.id %}" class="btn btn-danger">Cancel</a></td>
                      {% elif r.approval_request == 'reject' %}
                      <td><a href="" class="btn btn-warning disabled">Rejected</a></td>
                      <td><a href="{% url "user.recived_cancel" r.id %}" class="btn btn-danger">Cancel</a></td>
  
                      {% endif %} 
                      
                     
                    </tr>
                    {% endfor %}
                   
        
                </tbody>
            </table>
                    
          </div>
        </div>
      </div>

</section>

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {

        // Assuming you have a button inside the form with the id 'submitButton'
        $('#is_willing').on('change', function (event) {
            // Trigger the form submission when the button is clicked
            console.log('val:',$("#is_willing").val())

            // Uncomment the following lines if you want to prevent the default form submission
            event.preventDefault();
            $('#form').submit();
        });
    });
</script>


{% endblock %}